@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

@font-face {
    font-family: 'Granotta';
    src: url('../assets/fonts/Granotta.ttf');
}

* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

:root {
    --board-rotate-time: 1000ms;
}

html,
body {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    margin: 0;
    scroll-behavior: smooth;
    /* overflow-x: hidden; */
    background-size: cover;
    background: linear-gradient(135deg, var(--bg-gradient-start) 0%, var(--bg-gradient-end) 100%) no-repeat 50% 50%;
    color: var(--text-color);
    padding-right: 0 !important; /* Because of Bootstrap Modals */

    scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
    scrollbar-width: thin;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    color: var(--link-color-hover);
    text-decoration: underline;
}

.modal-content {
    background-color: var(--even);
}

.modal-content .close {
    color: var(--text-color) !important;
}

.modal-header,
.modal-footer {
    border-color: var(--odd);
}

.custom-select {
    background: var(--custom-select-bg) no-repeat right .75rem center/8px 10px;
    background-color: var(--input-background-color);
    color: var(--text-color);
    border-color: var(--input-border-color);
}

.custom-control-label::before {
    background-color: var(--input-background-color);
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    border: none;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-hover);
}

::-webkit-scrollbar-thumb:active {
    background-color: var(--scrollbar-thumb-active);
}

::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track);
    border: none;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

.table {
    color: unset;
}

.menu {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 100%;
    margin: 0;
    left: 0;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(1px);
}

.hidden {
    display: none;
}

.visible {
    display: unset;
}

.custom-number-input {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 4px;
}

.custom-number-input input {
    appearance: 'textfield';
    text-align: center;
}

.custom-number-input input::-webkit-outer-spin-button,
.custom-number-input input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#app {
    width: 100%;
    min-width: 400px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blur-background {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 100%;
    margin: 0;
    left: 0;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    cursor: unset;
    backdrop-filter: blur(1px);
    text-align: center;
}

.container {
    width: 832px;
    display: grid;
    grid-template-rows: auto auto;
    grid-row-gap: 64px;
}

.container .password {
    position: relative;
}

.container .password input {
    width: 100%;
    font-size: 1.75em;
    border-radius: 4px;
    font-family: monospace;
}

.container .password .buttons {
    position: absolute;
    right: calc(0.25em + 4px);
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    align-items: center;
}

.container .options-container {
    display: grid;
    grid-template-rows: auto auto;
    grid-row-gap: 16px;
}

.container .options-container .options {
    display: grid;
    grid-template-columns: max-content auto;
    grid-column-gap: 16px;
}

.container .options-container .options .allowed_chars {
    margin-top: -2em;
}

.container .options-container .options div:last-child {
    justify-self: end;
}

.container .options-container .options .password_length {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 8px;
}

.container .options-container .options #password_length,
.container .options-container .options #password_length_range {
    width: unset;
    height: unset;
}

.container .options-container .options #password_length_range {
    width: 12em;
}
